
body{

    direction: rtl;
    font-family: "B Yekan+";
}
a {
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    margin:auto;
    z-index:100000;
    width:100%;
    height: 20%;
    background-color: white;
}

.main{
    margin-top: 10%;

}

.content{
    margin-top: 1%;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.search{
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    background-color: #EEEEEE;
    padding: 6px;
    border-radius: 10px;
}
#SearchForm{
    display: flex;
}
#SearchText{
    padding: 10px;
    width: 100%;
    border: none;
    color: #BBBBBB;
    background-color: inherit;
}
#SearchText:focus{
    outline: none;
}
#SearchSubmit{
    border: none;
    color: #BBBBBB;
    background-color: inherit;
}
.fa-search{
    font-size: 30px;
}
.login-register{
    margin-right: 5%;
    display: flex;
    align-items: center;
    height: auto;
}
#LoginRegister{
    margin-left: 10px;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 10px;

}
#LoginRegister:hover{
    color: white;
    background-color: blue;
}
#LoginRegister2{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
}

.navbar-top{
    background-color: lightgray;
    text-align: right;

}

.navbar-top-list{
    overflow: hidden;
    list-style: none;
}

.navbar-top-list li {

    display: inline-block;
}

.navbar-top-list a:hover {

    color: black;
}